*{
    margin: 5px;
}

label{
    display: block;
    padding: 2px;
    font-size: large;
    text-transform:capitalize;
    margin: 5px;
}
input,textarea {
    display: inline-block;
    width: 80%;
    padding: 12px;}
button{

}
.properties {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}



@media screen and (max-width:768px) {
    .properties {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width:600px) {
    .properties {
        grid-template-columns: repeat(1, 1fr);
    }

}